[submodule "submodules/url_benchmark"]
	path = submodules/url_benchmark
	url = https://github.com/PhilippWidmann/url_benchmark.git
[submodule "submodules/dreamer"]
	path = submodules/dreamer
	url = https://github.com/WeberSamuel/dreamerv3-torch.git
